//scroll top button
.scrollToTop {
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: $white-color;
    z-index: 999;
    bottom: 30px;
    right: 30px;
    position: fixed;
    border-radius: 5px;
    @include transform(translateY(150px));
    background: $theme-bg;
    text-align: center;
    font-size: 16px;
    &.active {
        @include transform(translateY(0));
        animation: bounceInDown 2s ;
        -webkit-animation: bounceInDown 2s ;
        -moz-animation: bounceInDown 2s ;
    }
    img {
        width: 100%;
    }
}
.custom-button {
    color: $white-color;
    text-transform: uppercase;
    line-height: 50px;
    background: $theme-bg;
    padding: 0 35px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    i {
        @include transition($transition);
        padding-left: 10px;
        display: inline-block;
    }
      
    &.no-radius {
        font-size: 18px;
        padding: 0 25px;
        @include border-radius(0);
    }
    &.white {
        background: $white-color;
        color: $theme-color;
        &:hover {
            background: $theme-color;
            color: $white-color;
        }
    }
    &:hover {
        color: $white-color;
        i {
            padding-left: 15px;
        }
    }
}
@keyframes pulseOne {
    0% {
        box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -webkit-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -moz-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
    }
    40% {
        box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -webkit-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -moz-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
    }
    80% {
        box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 20px rgba($color: $theme-three, $alpha: 0);
        -webkit-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 20px rgba($color: $theme-three, $alpha: 0);
        -moz-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 20px rgba($color: $theme-three, $alpha: 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0);
        -webkit-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0);
        -moz-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0);
    }
}
@-webkit-keyframes pulseOne {
    0% {
        box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -webkit-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -moz-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
    }
    40% {
        box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -webkit-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -moz-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
    }
    80% {
        box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 20px rgba($color: $theme-three, $alpha: 0);
        -webkit-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 20px rgba($color: $theme-three, $alpha: 0);
        -moz-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 20px rgba($color: $theme-three, $alpha: 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0);
        -webkit-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0);
        -moz-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0);
    }
}
@-moz-keyframes pulseOne {
    0% {
        box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -webkit-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -moz-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
    }
    40% {
        box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -webkit-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
        -moz-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0.851);
    }
    80% {
        box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 20px rgba($color: $theme-three, $alpha: 0);
        -webkit-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 20px rgba($color: $theme-three, $alpha: 0);
        -moz-box-shadow: 0 0 0 20px rgba($color: $theme-three, $alpha: 0), 0 0 0 20px rgba($color: $theme-three, $alpha: 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0);
        -webkit-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0);
        -moz-box-shadow: 0 0 0 0 rgba($color: $theme-three, $alpha: 0), 0 0 0 0 rgba($color: $theme-three, $alpha: 0);
    }
}
@keyframes rotate {
    0% {
        @include transform(translate(-50%, -50%)rotate(0deg));
    }
    100% {
        @include transform(translate(-50%, -50%)rotate(360deg));
    }
}
@-moz-keyframes rotate {
    0% {
        @include transform(translate(-50%, -50%)rotate(0deg));
    }
    100% {
        @include transform(translate(-50%, -50%)rotate(360deg));
    }
}
@-webkit-keyframes rotate {
    0% {
        @include transform(translate(-50%, -50%)rotate(0deg));
    }
    100% {
        @include transform(translate(-50%, -50%)rotate(360deg));
    }
}
@keyframes rev-rotate {
    0% {
        @include transform(translate(-50%, -50%)rotate(360deg));
    }
    100% {
        @include transform(translate(-50%, -50%)rotate(0deg));
    }
}
@-webkit-keyframes rev-rotate {
    0% {
        @include transform(translate(-50%, -50%)rotate(360deg));
    }
    100% {
        @include transform(translate(-50%, -50%)rotate(0deg));
    }
}
@-moz-keyframes rev-rotate {
    0% {
        @include transform(translate(-50%, -50%)rotate(360deg));
    }
    100% {
        @include transform(translate(-50%, -50%)rotate(0deg));
    }
}
.video-button {
    width: 51px;
    height: 51px;
    line-height: 51px;
    text-align: center;
    @include border-radius(50%);
    background: $theme-one;
    position: relative;
    color: $white-color;
    i {
        margin-left: 5px;
    }
    &:hover {
        color: $white-color;
    }
    &::after, &::before {
        @extend %center;
        animation: video 25s linear infinite;
        -webkit-animation: video 25s linear infinite;
        -moz-animation: video 25s linear infinite;
        @include transition($transition);
    }
    &::before {
        background: rgba($color: $theme-one, $alpha: 0.161);
        width: 100px;
        height: 100px;
        animation-delay: .5s;
        -webkit-animation-delay: .5s;
        -moz-animation-delay: .5s;
        @include border-radius(33.33% 50%);
    }
    &::after {
        background: rgba($color: $theme-one, $alpha: 0.302);
        height: 73px;
        width: 73px;
    }
}
@keyframes video {
    0% {
        @include border-radius(33.33% 50%);
        @include transform(translate(-50%, -50%)rotate(0deg));
    }
    100% {
        @include border-radius(50% 33.33%);
        @include transform(translate(-50%, -50%)rotate(1800deg));
    }
}
@-webkit-keyframes video {
    0% {
        @include border-radius(33.33% 50%);
        @include transform(translate(-50%, -50%)rotate(0deg));
    }
    100% {
        @include border-radius(50% 33.33%);
        @include transform(translate(-50%, -50%)rotate(1800deg));
    }
}
@-moz-keyframes video {
    0% {
        @include border-radius(33.33% 50%);
        @include transform(translate(-50%, -50%)rotate(0deg));
    }
    100% {
        @include border-radius(50% 33.33%);
        @include transform(translate(-50%, -50%)rotate(1800deg));
    }
}

@keyframes light {
    0%, 100% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes light {
    0%, 100% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
}
@-moz-keyframes light {
    0%, 100% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
}